
body {
	font-family: Helvetica;
	padding: 0px;
}

.nutritionbody {

	width: 313px;
	height: 655px;
	border: 2px black solid;
	padding: 5px;
}

h1 {
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	padding: 0px;
	margin: 0px;
	line-height: .8;
}

p {
	margin: 0px;
	padding: 0px;
}

pre {
	font: helvetica;
	font-size: 12px;
}

.boldrect {
	width: 100%;
	height: 15px;
	background-color: black;
	display: block;
	margin-top: 2px;
	margin-bottom: 5px;
}

.smallboldrect {
	width: 100%;
	height: 7px;
	background-color: black;
	display: block;
}

.greyrect {
	width: 100%;
	height: 2px;
	background-color: gray;
	display: block;
	padding: 0px;
	margin: 3px 0px;
}

.smallgreyrect {
	width: 93%;
	height: 2px;
	background-color: gray;
	display: block;
	padding: 0px;
	margin-left: 20px;
	margin: 3px 0px;
}

.amountserv {
	font-size: 12px;
	font-weight: bolder;
	padding: 0px;
	margin: 0px;
}

#dailyvalue {
	margin-top: 2px;
	text-align: right;
}

.indentedtext {
	width: 100%;
	padding-left: 20px;
	line-height: .8;
}

#percentwarning {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 12px;
}

#bottomtable {
	width: 313px;
	font-size: 12px;
	border-collapse: collapse;
	text-align: left;
	line-height: 1;
	padding: 0px;
}

#bottomtable th {
	border-bottom: 1px solid gray;
	font-weight: 500;
	margin-bottom: 2px;
	padding-bottom: 3px;
	margin-right: 0px;
	padding-right: 0px;
}

#bottomtable td {
	margin-left: 0px;

}

